- @force_desktop_expanded_sidebar = true

- content_for :page_specific_javascripts do
  = render "layouts/google_tag_manager_head"
  = render "layouts/one_trust"
= render "layouts/google_tag_manager_body"

- page_title s_("UsageQuota|Usage")

%h1.page-title.gl-font-size-h-display
  = s_('UsageQuota|Usage Quotas')

.row
  .col-sm-6
    = s_('UsageQuota|Usage of resources across your projects')

#js-usage-quotas-view
  .gl-font-lg.gl--flex-center
    %span.gl-mr-1= s_('UsageQuota|Loading Usage Quotas tabs')
    = render Pajamas::SpinnerComponent.new(inline: true, size: :md)
  #js-pipeline-usage-app{ data: pipeline_usage_app_data(@namespace) }
  #js-namespace-storage-app{ data: storage_usage_app_data(@namespace) }
